h1 {
    text-align: center;
    font-family: fantasy;
}

body {
    padding: 0em 12em 0em 12em;
}

form {
    text-align: center;
}

button {
    margin: 1em;
    padding: .5em 2em .5em 2em;
    color: white;
    background-color: black;
    font-weight: bold;
}

input {
    padding: 0.5em;
    width: 32.5em;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

ul {
    text-align: center;
    border: 2px solid black;
    margin-top: 2em;
    padding: 1em;
}

li {
    list-style: none;
    text-align: center;
}